.itemsMenu{
    display: flex;
    flex-direction: column;
    padding-left: 175px;
    line-height: 35px;
}

.title{
    padding-bottom: 31px;
    color: #FFFFFF;
}

.link{
    color: #999999;
    text-decoration: none;
}

.link:hover{
    color: #FAC422;
}